



<div class="text-layout">
    <h1>Pipes Basicos</h1>
    <p>
        Pipes incluidos en angular  - Usualmente 
    </p>
</div>
<div class="grid">
    <div class="col-4">
        <p-card
        header="uppercase"
        [subheader]="nomberLower | uppercase">
        {{ nomberLower | uppercase}}
    </p-card>
    </div>
    <div class="col-4">
        <p-card
        header="Lowercase"
        [subheader]="nomberLower | lowercase ">
        {{ nomberLower | lowercase}}
    </p-card>
    </div>
    <div class="col-4">
        <p-card
        header="titlecase"
        [subheader]="nombreCompleto  | titlecase">
        {{ nombreCompleto | titlecase }}
    </p-card>
    </div>
</div>