
<app-menu></app-menu>

<div class="text-layout">

  <h1>{{ nombre | lowercase }}</h1>
  <h1>{{ valor | number}}</h1>


</div>


<button 
  pButton 
  class="p-button-help"
  (click)="mostrarnombre()"
  label="Cambiar Nombre"
  icon=" pi pi-check"
  iconPos="right"></button>


  <p-card [header]="nombre | titlecase"
          subheader="Esto es un subheader">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam facilis deleniti modi dolorem, iure voluptates similique iusto nulla reiciendis dolorum quibusdam exercitationem eveniet 
    perferendis illo veniam eius nemo quas pariatur?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum quasi aperiam aliquam, maiores corrupti quaerat! Deserunt cum libero laboriosam suscipit? Natus accusantium itaque ducimus reprehenderit. 
    Alias a deserunt corrupti facilis!
  </p-card>